@import url('https://fonts.googleapis.com/css2?family=Girassol&display=swap');
#mainy{
  display: flex;
  left: 100px;
  position: absolute;
  margin: 5% auto;
  width: 700px;
  height: 400px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
}

.link:hover{
  text-decoration: none;
  color: #f50090;
  transition: 0.3s;
}
.link {
  color: #e57373;
  text-decoration: underline;
}
.about{
  text-align: justify;
  position: absolute;
  box-sizing: border-box;
  padding: 40px;
  width: 700px;
  height: 400px;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
  font-family: monospace;
  -webkit-transform: rotate(-25deg);
  -moz-transform: rotate(-25deg);
  -o-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  transform: rotate(-25deg);
  background-size: cover;
  background-position: center;
}

.icons{
  margin: 50px;
  display: flex;
  position: fixed;
  bottom: 80px;
  right: 100px;
  flex-direction: row;
}


.aboutUs .p{
  font-family: "Girassol", monospace;
  font-size: 30px;
  color: white;
  position: fixed;
  bottom: 280px;
  right: 220px;
  display: flex;
  flex-direction: column;
}

.admin {
  display: flex;
  position: fixed;
  bottom: 350px;
  right: 200px;
  font-family: "Girassol", cursive;
  font-size: 40px;
}
a {
  text-decoration: underline;
  color: white;
}
