@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

.article {
  color: white;
}

.head {
  font-family: "Dancing Script", monospace;
  margin-left: 30px;
  margin-top: 30px;
  font-size: 50px;
}

#frame {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
}